<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mxthd.dao.CardCodeMapper">
    <select id="findCountByGood" resultType="int">
        select count(id) from cardcode where goods_id = #{gid} and state = 0
    </select>
    <select id="findByGidStateOK" resultType="com.mxthd.bean.CardCode">
        select * from cardcode where goods_id = #{gid} and state = 0 limit 1
    </select>
    <update id="updateState">
        update cardcode set state = 1 where id=#{id}
    </update>
    <select id="findId" resultType="com.mxthd.bean.CardCode">
        select * from cardcode where id =#{id}
    </select>
    <!--获取卡密列表     List<CardCode> getCardCode();-->
    <select id="getCardCode" resultType="com.mxthd.bean.CardCode">
        SELECT * from cardcode
    </select>
    <!--新增卡密     int addCardCode();-->
    <insert id="addCardCode" parameterType="com.mxthd.bean.CardCode">
        INSERT INTO cardcode(goods_id,code)
        VALUES (#{goodsId},#{code})
    </insert>
</mapper>