<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxthd.dao.GoodsInfoMapper">
    <!--多对一association级联查询，-->
    <resultMap id="GoodInfoMap" type="com.mxthd.bean.Goods">
        <id column="id" property="id"/>
        <result column="goodsclass_id" property="goodsclassId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="marketprice" property="marketprice"/>
        <result column="creditprice" property="creditprice"/>
        <result column="stock" property="stock"/>
        <result column="exchange_count" property="exchangeCount"/>
        <result column="click" property="click"/>
        <result column="type" property="type"/>
        <result column="click" property="click"/>
        <result column="post" property="post"/>
        <result column="photo" property="photo"/>
        <association property="goodsClass"
                     select="com.mxthd.dao.GoodsClassMapper.getAllGoodsType"
                     column="goodsclass_id">
        </association>
    </resultMap>
    <!--public List<Goods> getAllGoods(Goods goods);-->
    <select id="getAllGoods" resultMap="GoodInfoMap">
        select * from goods
        WHERE 1=1
    </select>
    <!--public List<Goods> getGoodsByTitle(String title);-->
    <select id="getGoodsByTitle" resultMap="GoodInfoMap">
        select * from goods
        WHERE 1=1
        <if test="title != null and title!= ''">
            and title LIKE '%${title}%'
        </if>
    </select>
    <!--    public List<Goods> getHome(@Param("t") Integer t,@Param("min") Integer min,@Param("max") Integer max);-->
    <select id="getHome" resultType="com.mxthd.bean.Goods">
        select * from goods
        <where>
            <if test="t!=null">
                goodsclass_id = #{t}
            </if>
            <if test="min!=null">
                and creditprice >= #{min}
            </if>
            <if test="max!=null">
                and creditprice &lt;= #{max}
            </if>
        </where>
    </select>
    <select id="getById" resultMap="GoodInfoMap">
        select * from goods where id=#{id}
    </select>
    <update id="click">
        update goods set click=click+1 where id=#{id}
    </update>
    <!--新增商品    public Goods addGoods(Goods goods)-->
    <insert id="addGoods" parameterType="com.mxthd.bean.Goods">
        INSERT INTO goods(title,content,goodsclass_id,marketprice,creditprice,stock,type,post,photo)
        VALUES (#{title},#{content},#{goodsclassId},#{marketprice},#{creditprice},#{stock},#{type},#{post},#{photo})
    </insert>
    <!--根据id 修改商品    public Integer updateGoods(Integer editId);-->
    <update id="updateGoods">
        update goods
        <set>
            content = #{goods.content},
            title = #{goods.title},
            goodsclass_id = #{goods.goodsclassId},
            marketprice = #{goods.marketprice},
            creditprice = #{goods.creditprice},
            stock = #{goods.stock},
            post = #{goods.post},
            type = #{goods.type},
            photo = #{goods.photo}
        </set>
        where id = #{editId}
    </update>
    <!--根据id 删除商品 public int deleteGoods(Integer delId);-->
    <delete id="deleteGoods">
        DELETE FROM goods WHERE id=#{delId}
    </delete>
</mapper>