<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mxthd.dao.PayMapper">
    <insert id="payAdd" useGeneratedKeys="true" keyProperty="pay.id">
        insert into pay(`uid`,`money`,`no`,`ppid`) values(#{pay.uid},#{pay.money},#{pay.no},#{pay.ppid})
    </insert>
    <update id="payHuidiao">
        update pay set status = 1 where id=#{id}
    </update>
    <select id="findByPPID" resultType="com.mxthd.bean.Pay">
        select * from pay where ppid=#{ppid}
    </select>
    <select id="findByUid" resultType="com.mxthd.bean.Pay">
        select * from pay where uid=#{uid} order by id desc
    </select>
</mapper>