<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mxthd.dao.RecordMapper">
    <select id="findByUid" resultType="com.mxthd.bean.Record">
        select * from record where user_id=#{user_id}
    </select>
    <insert id="add">
        insert into record(user_id,goods_id,goods_title,cardcode_id) value (#{uid},#{gid},#{gTitle},#{Cid})
    </insert>
    <select id="findId" resultType="com.mxthd.bean.Record">
        select * from record where id = #{id}
    </select>
</mapper>