<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<div th:fragment="side">
    <!-- 未登录 -->
    <div class="panel panel-default" id="sidebar2" style="width: 20%;margin:1% 2% 1% 0%;float: right" th:if="${session.login_user==null}">
        <div class="panel-heading" style="background-color: white;text-align: center">
            <blockquote>
                Genesis
                <small>一个分享创造的开发者社区</small>
            </blockquote>
        </div>
        <ul class="list-group" style="width: 100%">
            <li class="list-group-item">
                <a  href="/signin" th:href="@{/signin}" class="btn btn-primary btn-block">登录</a>
                <a  href="/signup" th:href="@{/signup}" class="btn btn-default btn-block">注册</a>
            </li>
        </ul>
    </div>

    <!-- 已登录 -->
    <div class="panel panel-default" id="sidebar2" style="width: 20%;margin:1% 2% 1% 0%;float: right" th:if="${session.login_user!=null}">
        <div class="panel-heading" style="background-color: white;text-align: center">
            <a href="/member/${user.username}" th:href="@{/member/}+${session.login_user.username}" th:text="${session.login_user.username}"></a>
        </div>
        <ul class="list-group" style="width: 100%">
            <li class="list-group-item"><a href="/new" th:href="@{/new}">创作新主题</a></li>
            <li class="list-group-item"><a href="">0条未读提醒</a></li>
            <li class="list-group-item"><a href="" th:text="'积分:'+${session.login_user.credit}">积分:${user.credit}</a></li>
        </ul>
    </div>

    <div class="panel panel-default" id="sidebar1" style="width: 20%;margin:1% 2% 1% 0%;float: right">
        <div class="panel-heading" style="background-color: white;text-align: center">
            热议主题
        </div>
        <ul class="list-group" style="width: 100%">
            <!--<c:forEach items="${hotestTopics}" var="hotestTopic">-->
                <!--<li class="list-group-item"><a href="/t/${hotestTopic.id}">${hotestTopic.title}</a></li>-->
            <!--</c:forEach>-->
            <li class="list-group-item"><a href="/t/7">JDK 9 里的 JDK HTTP Client 的写法</a></li>
            <li class="list-group-item"><a href="/t/2">你心目中理想的新闻推荐系统是什么样子？</a></li>
            <li class="list-group-item"><a href="/t/12">Genesis祝各位会员新年好</a></li>
            <li class="list-group-item"><a href="/t/8">数据库怎么最简单实现 “栈” 结构存储？</a></li>
            <li class="list-group-item"><a href="/t/9">腾讯云能不能别给我发优惠券短信了</a></li>
        </ul>
    </div>

</div>
</body>
</html>