<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>商品后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!--导入js-->
    <script src="/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <script src="/js/bootstrap.min.js" th:src="@{https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <!--layui 导入css-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <!--导入bootstrapcss-->
    <link href="/css/bootstrap.min.css" th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet">
    <!--导入编辑模板-->
    <link href="" th:href="@{/editormd/css/editormd.css}" rel="stylesheet"/>
    <script th:src="@{/editormd/editormd.min.js}"></script>
</head>
<body class="layui-layout-body">
<div class="modal fade" id="goodsCodeAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">商品类型新增</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="goodsCodeId_input" class="col-sm-2 control-label">商品类型编号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="goodsCodeId_input" placeholder="商品类型编号"
                                   name="goodsId">
                        </div>
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="cardCode_input" class="col-sm-2 control-label">卡密</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="cardCode_input" placeholder="卡密" name="code">
                        </div>
                        <span class="help-block"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" lay-submit lay-filter="demo1" class="btn btn-primary" id="addGoodsCode_sub">新增卡密
                </button>
            </div>
        </div>
    </div>
</div>
<div class="layui-layout layui-layout-admin">
    <!--加载头部区域-->
    <div th:replace="admin/common/top :: top"></div>
    <!--加载左侧导航栏-->
    <div th:replace="admin/common/left :: left"></div>
    <!--商品信息主体区域-->
    <div class="layui-body" id="tab_body">
        <div style="padding-top: 30px;padding-left: 80px" class="col-md-12" id="tab_content">
            <fieldset class="layui-elem-field layui-field-title" id="goods_edit_form" style="margin-top: 30px;">
                <legend>商品卡密新增修改</legend>
                <div class="layui-row">
                    <div class="layui-col-md4 layui-col-md-offset11">
                        <div class="grid-demo">
                            <button class="layui-btn layui-btn-warm layui-btn-radius" id="addGoodsCode">新增卡密</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <!--显示商品类型-->
            <table class="table table-hover" id="goodsCode_table" style="width: 1500px">
                <thead>
                <tr>
                    <th>#卡密编号</th>
                    <th>#商品编号</th>
                    <th>卡密</th>
                    <th>卡密状态</th>
                </tr>
                </thead>
                <tbody>
                <!--商品信息-->
                </tbody>
            </table>
        </div>
        <div class="row" style="padding-left: 30px">
            <div class="col-md-5 col-md-offset-3" id="page_nav_area">
                <!--分页条信息-->

            </div>
        </div>
    </div>
    <a href="#down" hidden="hidden" name="down"></a>
    <div class="layui-footer" style="height: 40px">
        <!-- 底部固定区域 -->
        © ThinkFeel后台管理系统
    </div>
</div>

<script type="text/javascript">
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });

    /*更新回显信息*/
    function refresh() {
        layui.use('form', function () {
            var form = layui.jquery, form = layui.form;
            form.render();
        });
    }

    /*表单渲染 加表单自定义验证*/
    function renderform() {
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
            form.render('select');
            //自定义验证规则
            form.verify({
                goodsTitle: function (value, item) {
                    if (value.length < 4) {
                        return "内容请输入至少4个字符";
                    }
                }
            });
            //监听提交
            form.on('submit(demo1)', function (data) {
                alert(data);
                if ($("#submit").val() > 0) {
                    layer.msg(JSON.stringify("商品修改成功"), {
                        title: '商品修改状态'
                    });
                } else {
                    layer.msg(JSON.stringify("商品添加成功"), {
                        title: '商品添加状态'
                    });
                }
                setTimeout(200000);
                return false;
            });
        });
    }

</script>

<script type="text/javascript">
    /*页面加载时*/
    $(function () {
        $("#goods_code").addClass("layui-bg-green");
        $("#goods_manage").addClass("layui-nav-itemed");
        cardCode(1);
    })

    /*页面加载 加载卡密 列表*/
    function cardCode(pn) {
        $.ajax({
            url: "/cardCode/getCardCode",
            data: "pn=" + pn,
            type: "GET",
            success: function (result) {
                console.log(result);
                build_cardcode_info(result);
                build_page_nav(result);
            }
        })
    }

    /*1建立卡密 body*/
    function build_cardcode_info(result) {
        $("#goodsCode_table tbody").empty();
        var info = result.data.list;
        $.each(info, function (index, item) {
            var codeId = $("<td></td>").append(item.id);//卡密编号
            var goodsId = $("<td></td>").append(item.goodsId);//商品编号
            var code = $("<td></td>").append(item.code);//卡密
            var state = $("<td></td>").append(item.state == '0' ? "未使用" : "已使用");//卡密状态
            $("<tr></tr>").append(codeId).append(goodsId).append(code).append(state).appendTo("#goodsCode_table tbody")
        });
    }

    /*2建立分页导航*/
    function build_page_nav(result) {
        $("#page_nav_area").empty();
        var ul = $("<ul></ul>").addClass("pagination");
        var firstpageli = $("<li></li>").append($("<a></a>").append("首页"));
        var prepageli = $("<li></li>").append($("<a></a>").append("&laquo;"));
        //判断是否有上一页
        if (result.data.hasPreviousPage == false) {
            firstpageli.addClass("disabled");//没有则class为禁用
            prepageli.addClass("disabled");
        } else {
            //点击跳首页
            firstpageli.click(function () {
                cardCode(1);
            });
            prepageli.click(function () {
                cardCode(result.data.pageNum - 1);
            });
        }
        var nextpageli = $("<li></li>").append($("<a></a>").append("&raquo;"));
        var lastpageli = $("<li></li>").append($("<a></a>").append("末页"));
        if (result.data.hasNextPage == false) {
            nextpageli.addClass("disabled");
            lastpageli.addClass("disabled");
        } else {
            nextpageli.click(function () {
                cardCode(result.data.pageNum + 1);
            });
            lastpageli.click(function () {
                cardCode(result.data.pages);
            });
        }
        ul.append(firstpageli).append(prepageli);//追加首页标签和上一页标签
        var pages = result.data.navigatepageNums;//遍历导航页码数
        $.each(pages, function (index, item) {
            var numli = $("<li></li>").append($("<a></a>").append(item));//1-5页码数
            //判断高亮页面
            if (result.data.pageNum == item) {
                numli.addClass("active");
            }
            //点击需要跳转的具体页面
            numli.click(function () {
                cardCode(item);
            });
            ul.append(numli);
        });
        ul.append(nextpageli).append(lastpageli);//追加末页标签和下一页标签
        // /*把ul加入到nav元素中*/
        var nav = $("<nav></nav>").append(ul).appendTo("#page_nav_area");
    }

    /*点击新增卡密按钮*/
    $("#addGoodsCode").click(function () {
        $("#goodsCodeAddModal").modal({
            backdrop: "static"
        });
    })
    /*点击新增卡密*/
    $("#addGoodsCode_sub").click(function () {
        validate_add_form();
        layui.use('layer', function () {
            var layer = layui.layer;
            $.ajax({
                url: "/cardCode/addCardCode",
                type: "POST",
                data: $("#goodsCodeAddModal form").serialize(),
                success: function (result) {
                    layer.msg("增加卡密成功");
                    $("#goodsCodeAddModal").modal('hide');
                    cardCode();
                }
            })
        });
    })
    //表单校验
    function validate_add_form() {
        // 先拿到要校验的数据，使用正则表达式
        var empName = $("#empName_add_input").val();
        var regename = /(^[1-9]\d*$)/;
        if (!regename.test(empName)) {
            //清空这个元素之前的样式
            show_validate_msg("#goodsCodeId_input", "error", "商品编号必须为非零的正整数。")
            return false;
        } else {
            show_validate_msg("#goodsCodeId_input", "success", "")
        }
        return true;
    }

    //显示校验结果的提示信息。  校验的ele status msg
    function show_validate_msg(ele, status, msg) {
        //清除当前元素校验状态
        $(ele).parent().removeClass("has-success has-error");
        $(ele).next("span").text("");
        if ("success" == status) {
            $(ele).parent().addClass("has-success");
            $(ele).next("span").text(msg);
        } else if ("error" == status) {
            $(ele).parent().addClass("has-error");
            $(ele).next("span").text(msg);
        }
    }
</script>
</body>
</html>