<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>商品后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!--导入js-->
    <script src="/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <script src="/js/bootstrap.min.js" th:src="@{https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <!--layui 导入css-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <!--导入bootstrapcss-->
    <link href="/css/bootstrap.min.css" th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet">
    <!--导入编辑模板-->
    <link href="" th:href="@{/editormd/css/editormd.css}" rel="stylesheet"/>
    <script th:src="@{/editormd/editormd.min.js}"></script>
</head>
<body class="layui-layout-body">
<div class="modal fade" id="goodsTypeAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">商品类型新增</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="goodsType_input">商品类型名称</label>
                        <input type="text" class="form-control" id="goodsType_input" placeholder="商品类型名字" name="name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" lay-submit lay-filter="demo1" class="btn btn-primary" id="addGoodsType_sub">新增商品类型</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="goodsTypeEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">商品类型编辑</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="goodsType_input">商品类型名称</label>
                        <input type="text" class="form-control" id="goodsType_Edit" placeholder="商品类型名字" name="name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" lay-submit lay-filter="demo1" class="btn btn-primary" id="EditGoodsType_sub">更新商品类型</button>
            </div>
        </div>
    </div>
</div>
<div class="layui-layout layui-layout-admin">
    <!--加载头部区域-->
    <div th:replace="admin/common/top :: top"></div>
    <!--加载左侧导航栏-->
    <div th:replace="admin/common/left :: left"></div>
    <!--商品信息主体区域-->
    <div class="layui-body" id="tab_body">
        <div style="padding-top: 30px;padding-left: 80px" class="col-md-12" id="tab_content">
            <fieldset class="layui-elem-field layui-field-title" id="goods_edit_form" style="margin-top: 30px;">
                <legend>商品类型编辑新增修改</legend>
                <div class="layui-row">
                    <div class="layui-col-md4 layui-col-md-offset11">
                        <div class="grid-demo">
                            <button class="layui-btn layui-btn-warm layui-btn-radius" id="addGoodsType">新增</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <!--显示商品类型-->
            <table class="table table-hover" id="goodsType_table" style="width: 1500px" >
                <thead>
                <tr>
                    <th>#商品类型编号</th>
                    <th>商品类型</th>
                </tr>
                </thead>
                <tbody>
                <!--商品信息-->
                </tbody>
            </table>
        </div>
    </div>
    <a href="#down" hidden="hidden" name="down"></a>
    <div class="layui-footer" style="height: 40px">
        <!-- 底部固定区域 -->
        © ThinkFeel后台管理系统
    </div>
</div>

<script type="text/javascript">
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });

    /*更新回显信息*/
    function refresh() {
        layui.use('form', function () {
            var form = layui.jquery, form = layui.form;
            form.render();
        });
    }
    /*表单渲染 加表单自定义验证*/
    function renderform() {
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
            form.render('select');
            //自定义验证规则
            form.verify({
                goodsTitle: function (value, item) {
                    if (value.length < 4) {
                        return "内容请输入至少4个字符";
                    }
                }
            });
            //监听提交
            form.on('submit(demo1)', function (data) {
                alert(data);
                if ($("#submit").val() > 0) {
                    layer.msg(JSON.stringify("商品修改成功"), {
                        title: '商品修改状态'
                    });
                } else {
                    layer.msg(JSON.stringify("商品添加成功"), {
                        title: '商品添加状态'
                    });
                }
                setTimeout(200000);
                return false;
            });
        });
    }

</script>

<script type="text/javascript">
    /*页面加载时候*/
    $(function () {
        $("#goods_info").addClass("layui-bg-green");//改变left导航的背景样式
        $("#goods_manage").addClass("layui-nav-itemed");//选中left导航的指定tag
        loadGoodsType();
    });
    function loadGoodsType() {
        $.ajax({
            url:"/admin/getGoodsType",
            type:"GET",
            success:function (result) {
                //加载商品类型信息到tbody
                build_goodsType(result);
            }
        })
    };
    /*加载商品类型内容信息 ajax*/
    function build_goodsType(result) {
        $("#goodsType_table tbody").empty();
        var type = result.data;
        $.each(type,function (index,item) {
            var typeId = $("<td></td>").append(item.id);//商品id
            var typeName = $("<td></td>>").append(item.name);//商品名字
            /*按钮标签*/
            var editBtn = $("<button></button>").addClass("btn btn-primary edit_btn")
                .append($("<span></span>").addClass("glyphicon glyphicon-pencil"))
                .append("编辑");//编辑按钮
            var delBtn = $("<button></button>").addClass("btn btn-danger delete_btn")
                .append($("<span></span>").addClass("glyphicon glyphicon-trash"))
                .append("删除");//删除按钮
            var btn = $("<span></span>").append(editBtn).append("<span> </span>").append(delBtn);
            /*将id存放到编辑按钮 和 删除 按钮 */
            editBtn.attr("edit_id",item.id);
            delBtn.attr("del_id",item.id);
            /*将内容添加进tr 和 tbody标签里面*/
            $("<tr></tr>").append(typeId).append(typeName).append(btn).appendTo("#goodsType_table tbody");
        })
    }

    /*点击新增按钮加载模态框*/
    $("#addGoodsType").click(function () {
        $("#goodsTypeAddModal").modal({
            backdrop: "static"
        });
    });
    /*商品类型添加之前，验证商品类型是否有重复*/


    /*点击保存商品类型按钮*/
    $("#addGoodsType_sub").click(function () {
        layui.use('layer', function () {
            var layer = layui.layer;
            $.ajax({
                url: "/goodsType/addGoodsType",
                type: "POST",
                data: $("#goodsTypeAddModal form").serialize(),
                success: function (result) {
                    $("#goodsTypeAddModal").modal('hide');//关闭模态框
                    if (result == 1) {
                        layer.msg("新增成功");
                        loadGoodsType();//重新加载表格函数
                    }
                }
            });
        });
    });

    /*点击编辑按钮弹出模态框*/
    $(document).on('click','.edit_btn',function () {
        getGoodsTypeById($(this).attr("edit_id"))//加载根据id查询商品分类
        $("#EditGoodsType_sub").attr("id",$(this).attr("edit_id"));//将id传给提交按妞
        /*回调商品类型的名字*/
        $("#goodsTypeEditModal").modal({
            backdrop: "static"
        });
    })
    /*点击编辑按钮，根据商品id查询商品类型的名字 进行回调*/
    function getGoodsTypeById(editId) {
        $.ajax({
            url:"/goodsType/getGoodsType",
            type:"GET",
            data:{id:editId},
            success:function (result) {
                /*将商品类型信息回调到模态框*/
                $("#goodsType_Edit").val(result.data.name);
            }
        });
    };

    /*点击更新商品信息*/
    $("#EditGoodsType_sub").click(function () {
        $("#goodsTypeEditModal").modal('hide');//关闭模态框
        $("#goodsType_Edit").empty();//清空回显信息
        $.ajax({
           url:"/goodsType/goodsEdit?id="+$(this).attr("id"),
           type:"POST",
           data:$("#goodsTypeEditModal form").serialize(),
           success:function (result) {
                alert("修改商品类型成功")
                console.log(result);
                // loadGoodsType();//重新加载表格函数
                window.location.href = "/ht/typeGoods";
           }
        });
    })

    /*删除按钮的点击事件*/
    $(document).on("click", ".delete_btn", function () {
        var delId = $(this).attr("del_id");//当前商品id的值
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.confirm('是否确定删除此商品类型?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: "/goodsType/goodsDel",
                    data: {id: delId},
                    success: function (result) {
                        //刷新本页面
                        if (result == 1) {
                            layer.msg('      删除成功     ');
                            loadGoodsType();
                        }else {
                            layer.msg('      删除失败     ');
                            loadGoodsType();
                        }
                    }
                });
                layer.close(index);
            });
        });
    });
</script>
</body>
</html>