<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>商品后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!--导入js-->
    <script src="/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <script src="/js/bootstrap.min.js" th:src="@{https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <!--layui 导入css-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <!--导入bootstrapcss-->
    <link href="/css/bootstrap.min.css" th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet">
    <!--导入编辑模板-->
    <link href="" th:href="@{/editormd/css/editormd.css}" rel="stylesheet"/>
    <script th:src="@{/editormd/editormd.min.js}"></script>
</head>
<body class="layui-layout-body" onload=document.gf.title.focus()>
<div class="layui-layout layui-layout-admin">
    <!--加载头部区域-->
    <div th:replace="admin/common/top :: top"></div>
    <!--加载左侧导航栏-->
    <div th:replace="admin/common/left :: left"></div>
    <!--商品信息主体区域-->
    <div class="layui-body" id="tab_body">
        <div style="padding-top: 30px;padding-left: 80px" class="col-md-12" id="tab_content">
            <fieldset class="layui-elem-field layui-field-title" id="goods_edit_form" style="margin-top: 30px;">
                <legend>商品新增与修改</legend>
            </fieldset>
            <div class="layui-upload" disabled="disabled">
                <button class="layui-btn" style="height: 38px"; >
                    图片上传
                    <input type="file" id="test1" name="editormd-image-file"
                           style='opacity:0;filter:alpha(opacity=0);display: inline-block;width: 100px'/>
                </button>
                <div class="layui-upload-list">
                    <img class="layui-upload-img" id="demo1" style="width: 100px;height: 100px">
                    <p id="demoText"></p>
                </div>
            </div>
            <form class="layui-form layui-form-pane" id="goodsFrom" lay-filter="formTest" name="gf">
                <div style="height: 15px"></div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品标题</label>
                    <div class="layui-input-block">
                        <input type="text" id="goods_title_input" name="title" required lay-verify="goodsTitle"
                               placeholder="请输入商品标题"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品类型</label>
                    <div class="layui-input-block" id="goods_type">
                        <select id="goods_type_select" lay-verify="goodsType" name="goodsclassId" lay-filter="gt">
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品价格</label>
                    <div class="layui-input-block">
                        <input type="text" id="goods_price_input" name="marketprice" required lay-verify="number"
                               placeholder="请输入商品价格"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所需积分</label>
                    <div class="layui-input-block">
                        <input type="text" name="creditprice" maxlength="10" id="goods_credit_input" required
                               lay-verify="number"
                               placeholder="请输入商品所需积分" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品库存</label>
                    <div class="layui-input-block">
                        <input type="text" id="goods_stock_input" name="stock" required lay-verify="number"
                               placeholder="请输入商品库存"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">重复兑换</label>
                    <div class="layui-input-block" id="exchange">
                        <input type="radio" name="type" value="0" title="不能重复兑换" checked>
                        <input type="radio" name="type" value="1" title="可以重复兑换">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否上架</label>
                    <div class="layui-input-block" id="post">
                        <input type="radio" name="post" value="0" title="上架" th:checked="checked">
                        <input type="radio" name="post" value="1" title="未上架">
                    </div>
                </div>
                <!--页面模板编辑器-->
                <div class="layui-form-item">
                    <label class="layui-form-label">详细描述</label>
                    <div class="form-group">
                        <div id="test-editormd">
                            <textarea style="display:none;" name="content" id="content"></textarea>
                        </div>
                    </div>
                </div>
                <!--图片上传的url值-->
                <input hidden="hidden" name="photo" id="photo">
                <input hidden="hidden" th:value="${editId}" id="editId" name="id">
                <input hidden="hidden" th:value="${pageNum}" id="pageNum">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <button class="layui-btn" lay-submit lay-filter="demo1" id="submit" type="submit"
                                th:value="${editId}">立即提交
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-footer" style="height: 40px">
        <!-- 底部固定区域 -->
        © ThinkFeel后台管理系统
    </div>
</div>

<script type="text/javascript">
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });

    /*文件上传*/
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/api/upload/editormdPic'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                var url = res.url;
                $("#photo").attr("value",url);
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
    });

    /*表单渲染 加表单自定义验证*/
    function renderform() {
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
            form.render('select');
            //自定义验证规则
            form.verify({
                goodsTitle: function (value, item) {
                    if (value.length < 4) {
                        return "内容请输入至少4个字符";
                    }
                },
                goodsTitle: function (value, item) {
                    if (value.trim() == '') {
                        return "内容不能为空";
                    }
                },
                goodsType: function (value, item) {
                    if (value < 1) {
                        return "请选择商品类型";
                    }
                }
            });
            //监听提交
            form.on('submit(demo1)', function (data) {
                if ($("#submit").val() > 0) {
                    layer.msg(JSON.stringify("商品修改成功"), {
                        title: '商品修改状态'
                    });
                } else {
                    layer.msg(JSON.stringify("商品添加成功"), {
                        title: '商品添加状态'
                    });
                }
                setTimeout(200000);
                return false;
            });
        });
    }

    /*更新回显信息*/
    function refresh() {
        layui.use('form', function () {
            var form = layui.jquery, form = layui.form;
            form.render();
        });
    }
</script>

<script type="text/javascript">
    /*下拉框的函数*/
    function getGoodsType(ele) {
        /*清空下拉框的选项*/
        // $(ele).empty();
        $.ajax({
            url: "/admin/getGoodsType",
            data: "GET",
            success: function (result) {
                /*动态添加下拉框列表*/
                var optionBsic = $("<option></option>").append("请选择").attr("class", "layui-select-tips");
                optionBsic.appendTo(ele);
                $.each(result.data, function (index) {
                    var optionEle = $("<option></option>").append(result.data[index].name).attr("value", result.data[index].id);
                    optionEle.appendTo(ele);
                });
                renderform();//重新渲染表单
            }
        });
    };

    /*页面加载的时候 渲染表单*/
    $(function () {
        getGoodsType("#goods_type_select");//加载select下拉框
        $("#goods_edit").addClass("layui-bg-green");//改变left导航的背景样式
        $("#goods_manage").addClass("layui-nav-itemed");//选中left导航的指定tag
    })

    /*页面加载时有editId的话 加载数据*/
    if ($("#editId").val() > 0) {
        $(document).ready(function () {
            var editId = $("#editId").val();
            $.ajax({
                url: "/admin/editGoods",
                data: {editId: editId},
                type: "GET",
                success: function (result) {
                    /*给form表单回显*/
                    console.log(result);
                    var info = result.data;
                    //加载商品图片
                    $('#demo1').attr('src', info.photo);
                    $("#goods_title_input").val(info.title);
                    $("#goods_price_input").val(info.marketprice);
                    $("#goods_credit_input").val(info.creditprice);
                    $("#goods_stock_input").val(info.stock);
                    $("#exchange input[name=type]").val([info.type]);
                    $("#post input[name=post]").val([info.post]);
                    $("#goods_type select").val([info.goodsclassId]);
                    refresh();//更新商品，不然看不见效果
                    edit(info.content);//文本编辑器 赋值
                }
            });
        });
    } else {
        $(document).ready(function () {
            edit();
        })
    }

    /*当页面加载完之后 加载*/
    var testEditor;

    function edit(content) {
        testEditor = editormd("test-editormd", {
            htmlDecode: "style,script,iframe",
            width: "100%",
            height: 640,
            markdown: content,
            syncScrolling: "single",
            path: "/editormd/lib/",
            saveHTMLToTextarea: true,
            emoji: true,//emoji表情，默认关闭
            taskList: true,
            tex: true, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析
            codeFold: true,
            /**上传图片相关配置如下*/
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/api/upload/editormdPic",//注意你后端的上传图片服务地址
        });
        $("#test-editormd").css("height", "400px");
        $("#title").focus();
    };

    /*提交表单*/
    $(document).on("click", "#submit", function () {
        /*判断是否有editId，有的话则是修改，没有则是添加*/
        var editId = $("#editId").val();
        /*判断商品标题长度 是否大于=4*/
        var title = $("#goods_title_input").val();
        if (editId > 0) {
            /*ajax修改商品信息*/
            // renderform();
            if (title.length >= 4 && title.trim() != '') {
                $.ajax({
                    url: "/admin/updateGoods?editId=" + editId,
                    type: "POST",
                    data: $("#tab_content form").serialize(),
                    success: function (result) {
                        var pn = $("#pageNum").val();//编辑信息所在的pageNum
                        window.location.href = "/ht/goods?pn=" + pn;
                    }
                });
            }
        } else {
            /*ajax新增商品信息*/
            if (title.length >= 4) {
                $.ajax({
                    url: "/admin/addGoods",
                    type: "POST",
                    data: $("#tab_content form").serialize(),
                    success: function (result) {
                        $("#goodsFrom").empty();
                        var pn = result.data;//商品信息的最大页码
                        window.location.href = "/ht/goods?pn=" + pn;
                    }
                });
            }
        }
    });

</script>
</body>
</html>