<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>商品后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!--导入js-->
    <script src="/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}" ></script>
    <script src="/layui/layui.js" th:src="@{/layui/layui.js}" ></script>
    <script src="/js/bootstrap.min.js" th:src="@{https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}" ></script>
    <!--layui 导入css-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <!--导入bootstrapcss-->
    <link href="/css/bootstrap.min.css" th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!--加载头部区域-->
        <div th:replace="admin/common/top :: top"></div>
        <!--加载左侧导航栏-->
        <div th:replace="admin/common/left :: left"></div>
        <!--商品信息主体区域-->
        <div class="layui-body" id="tab_body">
            <div style="padding-top: 10px;padding-left: 30px" class="col-md-12" id="tab_content">
                <!--搜索商品标题框-->
                <form class="form-inline">
                    <input type="text" id="title" class="form-control" style="width: 200px" placeholder="商品标题搜索"/>
                    <button type="button" class="btn btn-default glyphicon glyphicon-search" id="search" style="font-weight: bold">搜索</button>
                </form>
                <!--显示商品-->
                <table class="table" id="goods_table">
                    <thead>
                    <tr>
                        <th>商品编号</th>
                        <th>商品类型</th>
                        <th>商品标题</th>
                        <th>兑换商品所需积分</th>
                        <th>库存</th>
                        <th>兑换人次</th>
                        <th>是否能重复兑换</th>
                        <th>是否上架</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!--商品信息-->
                    </tbody>
                </table>
            </div>
            <div class="row" style="padding-left: 30px">
                <!--分页信息-->
                <div class="col-md-4" id="page_info_area" style="padding-top: 30px">

                </div>
                <div class="col-md-5 col-md-offset-3" id="page_nav_area">
                    <!--分页条信息-->

                </div>
            </div>
        </div>
        <div class="layui-footer" style="height: 40px">
            <!-- 底部固定区域 -->
            © ThinkFeel后台管理系统
        </div>
    </div>
    <input hidden="hidden" th:value="${pn_n}" id="pn_n">
<script type="text/javascript">
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
    //当页面加载的时候去第一页
    var totalRecord, currentPage;
    $(function () {
        $("#goods_type").addClass("layui-bg-green");
        $("#goods_manage").addClass("layui-nav-itemed");
        to_page($("#pn_n").val());
    });

    //ajax加载数据信息
    function to_page(pn){
        $.ajax({
            url:"/admin/goods",
            data:"pn="+pn,
            type:"GET",
            success:function(result){
                console.log(result)
                if(pn>result.data.pages){
                    to_page(result.data.pages);
                }else if(pn<result.data.firstPage){
                    to_page(1);
                }
                //解析并显示商品信息
                build_goods_table(result);
                //显示分页条数
                build_page_Info(result);
                //显示分页导航数据
                build_page_nav(result);
            }
        });
    };
    //1.解析并显示原员工
    function
    // build_goods_table(result) {
        $("#goods_table tbody").empty();
        var goods = result.data.list;
        /*使用jQuery遍历*/
        $.each(goods,function (index,item) {
            var goodsId = $("<td></td>").append(item.id);//商品编号
            var goodsType = $("<td></td>").append(item.goodsClass.name);//商品类型
            var goodsTitle = $("<td></td>").append(item.title);//商品标题
            var goodsCredit = $("<td></td>").append(item.creditprice);//兑换商品所需积分
            var goodsStock = $("<td></td>").append(item.stock);//商品库存
            var goodsExCount = $("<td></td>").append(item.exchangeCount);//商品兑换次数
            var goodsRepeat = $("<td></td>").append(item.type == '0' ?"不能重复兑换":"可以重复兑换");//商品能否重复兑换
            var goodsPublish = $("<td></td>").append(item.post == '0'?"上架":"未上架");//商品是否上架
            /*按钮标签*/
            var editBtn = $("<button></button>").addClass("btn btn-primary edit_btn")
                .append($("<span></span>").addClass("glyphicon glyphicon-pencil"))
                .append("编辑");//编辑按钮
            var delBtn = $("<button></button>").addClass("btn btn-danger delete_btn")
                .append($("<span></span>").addClass("glyphicon glyphicon-trash"))
                .append("删除");//删除按钮
            var btn = $("<span></span>").append(editBtn).append("<span> </span>").append(delBtn);
            /*将员工id存放到编辑按钮里面，点击的时候，将id值传进另一个页面*/
            editBtn.attr("edit_id",item.id);
            /*将当前员工页码数存进按钮进行传值，在修改完成之后 返回当前页码*/
            editBtn.attr("edit_pg",result.data.pageNum);
            //将td标签添加进一个tr
            if(item.post == 1) {
                $("<tr></tr>").append(goodsId).append(goodsType).append(goodsTitle).append(goodsCredit).append(goodsStock)
                    .append(goodsExCount).append(goodsRepeat).append(goodsPublish).append(btn)
                    .addClass("warning").appendTo("#goods_table tbody");
            }else {
                $("<tr></tr>").append(goodsId).append(goodsType).append(goodsTitle).append(goodsCredit).append(goodsStock)
                    .append(goodsExCount).append(goodsRepeat).append(goodsPublish).append(btn)
                    .addClass("active").appendTo("#goods_table tbody");
            }
        });
    }

    // 2.显示分页条数
    function build_page_Info(result) {
        $("#page_info_area").empty();
        var page = result.data;
        $("#page_info_area").append("当前第" + page.pageNum + "页,总共" + page.pages +"页"+ ",总" + page.total + "条记录");
        //记录当前的总条数和页码数
        totalRecord = page.total;
        currentPage = page.pageNum;
    }

    //3.显示分页导航页
    function build_page_nav(result) {
        $("#page_nav_area").empty();
        var ul = $("<ul></ul>").addClass("pagination");
        var firstpageli = $("<li></li>").append($("<a></a>").append("首页"));
        var prepageli = $("<li></li>").append($("<a></a>").append("&laquo;"));
        //判断是否有上一页
        if (result.data.hasPreviousPage == false) {
            firstpageli.addClass("disabled");//没有则class为禁用
            prepageli.addClass("disabled");
        } else {
            //判断是不是按条件跳页
            if(result.message == "pageInfo") {
                //点击跳首页
                firstpageli.click(function () {
                    to_page(1);
                });
                prepageli.click(function () {
                    to_page(result.data.pageNum - 1);
                });
            }else if(result.message == "pagesByTitle"){
                firstpageli.click(function () {
                    title_page(1);
                });
                prepageli.click(function () {
                    title_page(result.data.pageNum - 1);
                });
            }
        }
        var nextpageli = $("<li></li>").append($("<a></a>").append("&raquo;"));
        var lastpageli = $("<li></li>").append($("<a></a>").append("末页"));
        if (result.data.hasNextPage == false) {
            nextpageli.addClass("disabled");
            lastpageli.addClass("disabled");
        } else {
            if(result.message == "pageInfo") {
                nextpageli.click(function () {
                    to_page(result.data.pageNum + 1);
                });
                lastpageli.click(function () {
                    to_page(result.data.pages);
                });
            }else if(result.message == "pagesByTitle"){
                nextpageli.click(function () {
                    title_page(result.data.pageNum + 1);
                });
                lastpageli.click(function () {
                    title_page(result.data.pages);
                });
            }
        }
        ul.append(firstpageli).append(prepageli);//追加首页标签和上一页标签
        var pages = result.data.navigatepageNums;//遍历导航页码数
        $.each(pages, function (index, item) {
            var numli = $("<li></li>").append($("<a></a>").append(item));//1-5页码数
            //判断高亮页面
            if (result.data.pageNum == item) {
                numli.addClass("active");
            }
            //点击需要跳转的具体页面
            if(result.message == "pageInfo"){
                numli.click(function () {
                    to_page(item);
                });
            }else if(result.message == "pagesByTitle"){
                numli.click(function () {
                    title_page(item);
                });
            }
            ul.append(numli);
        });
        ul.append(nextpageli).append(lastpageli);//追加末页标签和下一页标签
        // /*把ul加入到nav元素中*/
        var nav = $("<nav></nav>").append(ul).appendTo("#page_nav_area");
    }

    /*click搜索事件*/
    $("#search").click(function () {
        $.ajax({
            type: "GET",
            url: "/admin/getGoodsByTitle",
            data: {title: $("#title").val(), pn: "1"},
            success: function (result) {
                //解析并显示商品信息
                build_goods_table(result);
                //显示分页条数
                build_page_Info(result);
                //显示分页导航数据
                build_page_nav(result);
            }
        });
    });
    /*搜索条件之后的分页查询函数*/
    function title_page(pn) {
        $.ajax({
            type: "GET",
            url: "/admin/getGoodsByTitle",
            data: {title: $("#title").val(), pn: pn},
            success: function (result) {
                //解析并显示商品信息
                build_goods_table(result);
                //显示分页条数
                build_page_Info(result);
                //显示分页导航数据
                build_page_nav(result);
            }
        });
    }

    /*编辑按钮的 点击事件*/
    $(document).on("click",".edit_btn",function () {
        var editId = $(this).attr("edit_id");        //商品id
        var pageNum = $(this).attr("edit_pg");      //商品当前页码
        window.location.href = "/ht/editGoods?editId="+editId+"&pageNum="+pageNum;
    });


</script>
</body>
</html>