<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!--导入js-->
    <script src="/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}" ></script>
    <script src="/layui/layui.js" th:src="@{/layui/layui.js}" ></script>
    <script src="/js/bootstrap.min.js" th:src="@{https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}" ></script>
    <!--layui 导入css-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <!--导入bootstrapcss-->
    <link href="/css/bootstrap.min.css" th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet">
    <style>
      #pageclass{
          margin-top: 500px;
          padding-left:360px;
        }
    </style>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!--加载头部区域-->
        <div th:replace="admin/common/top :: top"></div>
        <!--加载左侧导航栏-->
        <div th:replace="admin/common/left :: left"></div>
        <!--用户信息主体区域-->
        <div class="layui-body" id="tab_body">
            <div style="padding-top: 40px;padding-left: 30px" class="col-md-12" id="tab_content">
                <!--搜索商品标题框-->
                <form class="form-inline">
                    <input type="text" id="Username" class="form-control" style="width: 200px" placeholder="用户姓名搜索"/>
                    <button type="button" class="btn btn-default glyphicon glyphicon-search" id="search" style="font-weight: bold">搜索</button>
                </form>
                <!--显示用户-->
                <table  class="table table-hover" id="users_table">
                    <thead>
                    <tr>
                        <th>用户编号</th>
                        <th>用户姓名</th>
                        <th>邮箱号码</th>
                        <th>注册时间</th>
                        <th>登录时间</th>
                        <th>积分</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody >
                        <!--用户信息-->
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 显示用户分页信息 -->
        <div class="row"  style="margin-top: 500px; padding-left:360px">
            <!--分页文字信息  -->
            <div class="col-md-4" id="page_info_area" style="padding-top:50px ;"></div>
            <!-- 分页条信息 -->
            <div class="col-md-5 " id="page_nav_area" style="padding-top:30px ;"></div>
        </div>
    </div>



    <!-- 员工显示积分的的模态框 -->
    <div class="modal fade in" id="empAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 1080px; height: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">员工积分的情况</h4>
                </div>
                <div class="modal-body">
                    <div class="layui-tab layui-tab-card" style="height: 400px;">
                    <ul class="layui-tab-title">
                        <li class="layui-this" >支付</li>
                        <li>未支付</li>
                    </ul>
                    <div class="layui-tab-content" style="height: 100px;">
                        <div class="layui-tab-item layui-show" >
                            <table class="layui-table" id="pay_table">
                                <colgroup>
                                    <col width="150">
                                    <col width="200">
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>积分编号</th>
                                    <th>订单编号</th>
                                    <th>金额</th>
                                    <th>消费时间</th>
                                    <th>支付</th>
                                </tr>
                                </thead>
                                <tbody>
                                     <!--显示每个用户的消费记录-->
                                </tbody>
                            </table>
                            <!-- 显示用户分页信息 -->
                             <div class="row"  >
                                <!--分页文字信息  -->
                                <div class="col-md-4" id="page_info_areas" style="padding-top:50px ;"></div>
                                <!-- 分页条信息 -->
                                <div class="col-md-5 " id="page_nav_areas" style="padding-top:30px ;"></div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="150">
                                    <col width="200">
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>积分编号</th>
                                    <th>订单编号</th>
                                    <th>金额</th>
                                    <th>消费时间</th>
                                    <th>支付</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>贤心</td>
                                    <td>2016-11-29</td>
                                    <td>人生就像是一场修行</td>
                                    <td>人生就像是一场修行</td>
                                    <td>人生就像是一场修行</td>
                                </tr>
                                <tr>
                                    <td>许闲心</td>
                                    <td>2016-11-28</td>
                                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                                    <td>人生就像是一场修行</td>
                                    <td>人生就像是一场修行</td>

                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="emp_save_btn">保存</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    //时间的转换
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "H+": this.getHours(), //小时
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
    //定义页数的属性名
    var totalRecord,currentPage;
    //当页面加载的时候去第一页
    $(function () {
        $("#users_type").addClass("layui-bg-green");
        $("#users_info").addClass("layui-nav-itemed");
        to_page(1);
    });
    //ajax加载数据信息
    function to_page(pn){
        $.ajax({
            url:"/admin/users",
            data:"pn="+pn,
            type:"GET",
            success:function(result){
                console.log(result);
                //解析并显示用户信息
                build_users_table(result);
                //2、解析并显示分页信息
                build_page_info(result)
                //3、解析显示分页条数据
                build_page_nav(result);
            }
        });
    };
    //解析用户信息
    function build_users_table(result) {
        $("#users_table tbody").empty();
        var users=result.data.list;
        //遍历输出
        $.each(users,function (index,item) {
            var usersId = $("<td></td>").append(item.id);//用户编号
            var usersname=$("<td></td>").append(item.username);//用户姓名
            var usersEmail=$("<td></td>").append(item.email);//用户邮箱
            var usersCreateTime=$("<td></td>").append((new Date(item.createTime)).Format("yyyy-MM-dd hh:mm:ss"));//用户注册时间
            var usersUpdateTime=$("<td></td>").append((new Date(item.updateTime)).Format("yyyy-MM-dd hh:mm:ss"));//用户最后登录的时间
            var userCredit=$("<td></td>").append(item.credit);//用户积分
            //编辑按钮
            var editBtn = $("<button></button>").addClass("btn btn-primary btn-sm edit_btn")
                .append($("<span></span>").addClass("glyphicon glyphicon-pencil")).append("查看");
            editBtn.attr("edit_id",item.id);
            var btnTd = $("<span></span>").append(editBtn)
            //append方法执行完成以后还是返回原来的元素
                $("<tr></tr>")
                    .append(usersId)
                    .append(usersname)
                    .append(usersEmail)
                    .append(usersCreateTime)
                    .append(usersUpdateTime)
                    .append(userCredit)
                    .append(btnTd)
                    .addClass("active")
                    .appendTo("#users_table tbody")

        })
    }


    //解析显示分页信息
    function build_page_info(result) {
        $("#page_info_area").empty();
        var page = result.data;
        $("#page_info_area").append("当前第" + page.pageNum +
            "页,总共" + page.pages +"页"+ ",总" + page.total + "条记录");
        //记录当前的总条数和页码数
        totalRecord = page.total;
        currentPage = page.pageNum;
    }

    //3.显示分页导航页
    function   build_page_nav(result) {
        $("#page_nav_area").empty();
        var ul = $("<ul></ul>").addClass("pagination");
        var firstpageli = $("<li></li>").append($("<a></a>").append("首页"));
        var prepageli = $("<li></li>").append($("<a></a>").append("&laquo;"));
        //判断是否有上一页
        if (result.data.hasPreviousPage == false) {
            firstpageli.addClass("disabled");//没有则class为禁用
            prepageli.addClass("disabled");
        } else {
            //判断是不是按条件跳页
            if(result.message == "pageInfo") {
                //点击跳首页
                firstpageli.click(function () {
                    to_page(1);
                });
                prepageli.click(function () {
                    to_page(result.data.pageNum - 1);
                });
            }else if(result.message == "pageByUsername"){
                //点击跳首页
                firstpageli.click(function () {
                    to_page(1);
                });
                prepageli.click(function () {
                    to_page(result.data.pageNum - 1);
                });
            }
        }
        var nextpageli = $("<li></li>").append($("<a></a>").append("&raquo;"));
        var lastpageli = $("<li></li>").append($("<a></a>").append("末页"));
        if (result.data.hasNextPage == false) {
            nextpageli.addClass("disabled");
            lastpageli.addClass("disabled");
        } else {

            if(result.message == "pageByUsername") {
                nextpageli.click(function () {
                    to_page(result.data.pageNum + 1);
                });
                lastpageli.click(function () {
                    to_page(result.data.pages);
                });
            }else if(result.message == "pageByUsername"){
                nextpageli.click(function () {
                    title_page(result.data.pageNum + 1);
                });
                lastpageli.click(function () {
                    title_page(result.data.pages);
                });
            }

        }
        ul.append(firstpageli).append(prepageli);//追加首页标签和上一页标签
        var pages = result.data.navigatepageNums;//遍历导航页码数
        $.each(pages, function (index, item) {
            var numli = $("<li></li>").append($("<a></a>").append(item));//1-5页码数
            //判断高亮页面
            if (result.data.pageNum == item) {
                numli.addClass("active");
            }
            //点击需要跳转的具体页面
            if(result.message == "pageInfo"){
                numli.click(function () {
                    to_page(item);
                });
            }else if(result.message == "pageByUsername"){
                numli.click(function () {
                    title_page(item);
                });
            }

            ul.append(numli);
        });
        ul.append(nextpageli).append(lastpageli);//追加末页标签和下一页标签
        // /*把ul加入到nav元素中*/
        var nav = $("<nav></nav>").append(ul).appendTo("#page_nav_area");
    }


    //按照姓名来查询
    /*click搜索事件*/
    $("#search").click(function () {
        $.ajax({
            type: "GET",
            url: "/admin/getUsername",
            data: {username: $("#Username").val(), pn: "1"},
            success: function (result) {
                console.log(result);
                //解析并显示用户信息
                build_users_table(result);
                //显示分页条数
                build_page_info(result);
                //显示分页导航数据
                build_page_nav(result);
            }
        });
    });
    /*搜索条件之后的分页查询函数*/
    function title_page(pn) {
        $.ajax({
            type: "GET",
            url: "/admin/getUsername",
            data: {username: $("#Username").val(), pn: pn},
            success: function (result) {
                console.log(result);
                //解析并显示用户信息
                build_users_table(result);
                //显示分页条数
                build_page_info(result);
                //显示分页导航数据
                build_page_nav(result);
            }
        });
    }


    //绑定模态框
    $(document).on("click",".edit_btn",function(){
       //获取用户的id值
        var userName = $(this).parents("tr").find("td:eq(1)").text();
        var userId = $(this).attr("edit_id");
        //解析用户的消费信息
         //pay_page(pn);
        //打开模态框
        $("#empAddModal").modal({
            backdrop:"static"
        });
    });
    function pay_page(pn){
        $.ajax({
            url:"/admin/selectByPay",
            data:"pn="+pn,
            type:"GET",
            success:function(result){
                console.log(result);
                //解析并显示用户信息
                build_pay_table(result);
                //2、解析并显示分页信息
                build_page_info(result)
                //3、解析显示分页条数据
                build_page_nav(result);
            }
        });
    };


    //解析用户信息
    function build_pay_table(result) {
        $("#pay_table tbody").empty();
        var pays=result.data.list;
        //遍历输出
        $.each(pays,function (index,item) {
            var pid = $("<td></td>").append(item.pay.id);//积分的编号
            var ppid=$("<td></td>").append(item.pay.ppid);//消费的编号
            var money=$("<td></td>").append(item.pay.money);//用户所使用的金额
            var pay_create_time=$("<td></td>").append((new Date(item.pay.create_time)).Format("yyyy-MM-dd hh:mm:ss"));//用户消费的时间
            var status=$("<td></td>").append(item.pay.status);//用户积分
            //append方法执行完成以后还是返回原来的元素
            $("<tr></tr>")
                .append(pid)
                .append(ppid)
                .append(money)
                .append(pay_create_time)
                .append(status)
                .addClass("active")
                .appendTo("#pay_table tbody")

        })
    }


    </script>
</body>
</html>